<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="text-2xl">發生錯誤</div>
    <div class="text-2xl">
        <%= message %>
    </div>
</body>

</html>