<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-  scale=1.0">
    <title>CGCF</title>
    <link rel="stylesheet" href="/static/css/init.css">
</head>

<body>
    <div class="w-full max-w-[900px] mx-auto h-svh flex flex-col justify-center items-center gap-5">
        <form class="w-full flex flex-col justify-center items-center gap-5" action="/panel" method="post">
            <div class="w-[90%] flex gap-5 items-center">
                <label for="path">專案路徑<span class="text-red-500">*</span></label>
                <input class="grow border px-4 h-10 bg-gray-100 outline-0 rounded-full" type="text" name="path"
                    required>
            </div>
            <div class="w-[90%] flex gap-5 items-center">
                <label for="source">比對來源<span class="text-red-500">*</span></label>
                <select class="grow border px-4 h-10 bg-gray-100 outline-0 rounded-full" name="source">
                    <option value="commits" selected>Commits (有 push 選這)</option>
                    <option value="changes">Changes (沒 push 選這)</option>
                </select>
            </div>
        </form>
        <button
            class="z-0 group relative inline-flex items-center justify-center box-border appearance-none select-none whitespace-nowrap font-normal subpixel-antialiased overflow-hidden tap-highlight-transparent data-[pressed=true]:scale-[0.97] outline-none data-[focus-visible=true]:z-10 data-[focus-visible=true]:outline-2 data-[focus-visible=true]:outline-focus data-[focus-visible=true]:outline-offset-2 px-4 min-w-20 h-10 text-small gap-2 [&>svg]:max-w-[theme(spacing.8)] transition-colors bg-blue-600 hover:bg-blue-500 text-white rounded-full">
            確定
        </button>
    </div>

    <script>
        document.querySelector('button').addEventListener('click', function () {
            const path = document.querySelector('input[name="path"]').value;
            const source = document.querySelector('select[name="source"]').value;
            if (path && source) {
                const form = document.querySelector('form');
                if (source === 'commits') {
                    form.action = '/panel';
                    form.submit();
                } else {
                    form.action = '/copy';
                    form.submit();
                }
            }
        });
    </script>
</body>

</html>