<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-  scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/init.css">
</head>

<body>
    <form class="w-full max-w-[900px] mx-auto h-svh" action="/copy" method="post">
        <input type="hidden" name="path" id="path" value="<%= path %>">
        <div class="shadow rounded-full py-2 px-4 my-5 border">
            專案路徑：<%= path %>
        </div>
        <table class="w-full">
            <thead class="my-2 w-full">
                <tr class="bg-gray-200 w-full">
                    <th class="px-4 py-1 rounded-l-full">Commit</th>
                    <th class="px-4 py-1">Message</th>
                    <th class="px-4 py-1 rounded-r-full">Author</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="w-full flex justify-center items-center gap-4">
            <div id="previous"
                class="bg-gray-100 hover:bg-gray-200 w-10 h-10 flex justify-center items-center rounded-full cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000" viewBox="0 0 256 256">
                    <path
                        d="M165.66,202.34a8,8,0,0,1-11.32,11.32l-80-80a8,8,0,0,1,0-11.32l80-80a8,8,0,0,1,11.32,11.32L91.31,128Z">
                    </path>
                </svg>
            </div>
            <div id="page">1</div>
            <div id="next"
                class="bg-gray-100 hover:bg-gray-200 w-10 h-10 flex justify-center items-center rounded-full cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000000" viewBox="0 0 256 256">
                    <path
                        d="M181.66,133.66l-80,80a8,8,0,0,1-11.32-11.32L164.69,128,90.34,53.66a8,8,0,0,1,11.32-11.32l80,80A8,8,0,0,1,181.66,133.66Z">
                    </path>
                </svg>
            </div>
        </div>
        <div class="bg-orange-200 border border-orange-300 rounded-md p-1 flex gap-2 justify-center items-center my-5">
            <span class="text-orange-600">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    viewBox="0 0 256 256">
                    <path
                        d="M236.8,188.09,149.35,36.22h0a24.76,24.76,0,0,0-42.7,0L19.2,188.09a23.51,23.51,0,0,0,0,23.72A24.35,24.35,0,0,0,40.55,224h174.9a24.35,24.35,0,0,0,21.33-12.19A23.51,23.51,0,0,0,236.8,188.09ZM222.93,203.8a8.5,8.5,0,0,1-7.48,4.2H40.55a8.5,8.5,0,0,1-7.48-4.2,7.59,7.59,0,0,1,0-7.72L120.52,44.21a8.75,8.75,0,0,1,15,0l87.45,151.87A7.59,7.59,0,0,1,222.93,203.8ZM120,144V104a8,8,0,0,1,16,0v40a8,8,0,0,1-16,0Zm20,36a12,12,0,1,1-12-12A12,12,0,0,1,140,180Z">
                    </path>
                </svg>
            </span>
            <span>較舊的 Commit 為初始狀態，以其為基準比較，它的 Change 內容不會被複製。</span>
        </div>
        <div class="w-full gap-5 flex">
            <div class="w-1/2 min-h-[100px] p-5 flex flex-col justify-center items-center bg-gray-50 border rounded-2xl text-center"
                ondrop="drop(event,0)" ondragover="dragover(event)" ondragleave="dragleave(event)">
                <div class="text-gray-500">上方 Commit 拖移至此</div>
            </div>
            <div class="w-1/2 min-h-[100px] p-5 flex flex-col justify-center items-center bg-gray-50 border rounded-2xl text-center"
                ondrop="drop(event,1)" ondragover="dragover(event)" ondragleave="dragleave(event)">
                <div class="text-gray-500">上方 Commit 拖移至此</div>
            </div>
        </div>
        <button
            class="disabled:bg-gray-200 disabled:text-gray-400 bg-blue-600 hover:bg-blue-500 text-white rounded-full w-full h-10 mt-5"
            type="submit" disabled>
            比較
        </button>
        <input type="hidden" name="commit0" id="commit0" required>
        <input type="hidden" name="commit1" id="commit1" required>
    </form>
    <script>
        const path = "<%= path %>";
        const row = 10;
        var page = 1;
        var maxPage = 9999;

        function renderTable() {
            fetch(`/log`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'Accept': '*/*'
                },
                body: new URLSearchParams({ 'path': path, 'row': row, 'page': page - 1 })
            })
                .then(res => res.json())
                .then(({ choices }) => {
                    if (choices.length === 0) {
                        page--;
                        maxPage = page;
                        alert('已經是最後一頁');
                        return;
                    }
                    document.querySelector('tbody').innerHTML = choices.map(choice => {
                        return `<tr class="hover:bg-gray-100 cursor-grab" draggable="true" ondragstart="dragstart(event,'${choice.commit}','${choice.message.replaceAll("'", "\\'")}')" dragend="dragend(event)">
                                <td class="px-2 py-1 text-center rounded-l-full">${choice.commit}</td>
                                <td class="px-2 py-1">${choice.message}</td>
                                <td class="px-2 py-1 text-center rounded-r-full">${choice.author}</td>
                            </tr>`;
                    }).join('');
                    document.getElementById('page').innerText = page;
                });
        }

        document.getElementById('previous').addEventListener('click', () => {
            if (page - 1 > 0) {
                page--;
                renderTable();
            } else {
                alert('已經是第一頁');
            }
        })

        document.getElementById('next').addEventListener('click', () => {
            if (page + 1 <= maxPage) {
                page++;
                renderTable();
            } else {
                alert('已經是最後一頁');
            }
        })

        renderTable();

        function dragstart(e, commit, message) {
            e.dataTransfer.setData("commit", commit);
            e.dataTransfer.setData("message", message);
        }

        function dragend(e) {
            e.currentTarget.classList.remove('dragArea--hover');
        }

        function dragover(e) {
            e.preventDefault();
            e.currentTarget.classList.add("dragArea--hover");
        }

        function dragleave(e) {
            e.currentTarget.classList.remove("dragArea--hover");
        }

        function drop(e, blockIndex) {
            e.preventDefault();
            var commit = e.dataTransfer.getData("commit");
            var message = e.dataTransfer.getData("message");
            e.currentTarget.innerHTML = `<div class="w-full font-bold">${commit}</div><div class="w-full break-all">${message}</div>`;
            e.currentTarget.classList.remove("dragArea--hover");
            if (blockIndex == 0) {
                document.getElementById('commit0').value = commit;
            } else if (blockIndex == 1) {
                document.getElementById('commit1').value = commit;
            }
            if (document.getElementById('commit0').value && document.getElementById('commit1').value) {
                document.querySelector('button').removeAttribute('disabled');
            }
        }
    </script>
</body>

</html>